body {
    margin: 0;
    background: #1F2937;
}

h1 {
    color: white;
}

h3 {
    color: #D5D4D8;
}

span {
    color: #4ADF86;
}

button {
    background-color: #10B981;
    color: white;
    border: none;
    margin-top: 30px;
    margin-right: 20px;
    padding: 9px 15px;
    border-radius: 6px;
}

hr {
    margin: 50px auto 25px auto;
    border: 1px solid #2F3E53
}

p {
    margin: auto;
    color: #55F991;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

#content {
    max-width: 550px;
    max-height: 550px;
    margin: auto;
}

#fields {
    display: flex;
}

.passwords {
    display: flex;
    flex-shrink: 0;
    margin: 0 10px 0 0px;
    width: 211px;
    height: 39px;
    background-color: #273549;
    border-radius: 6px;
}
